[Desktop Entry]
Encoding=UTF-8
Name=Link para Team project – Figma
Type=Link
URL=https://www.figma.com/files/project/94526944/Team-project?fuid=1241059550992339633
Icon=text-html
